body {
    font-family: Arial, sans-serif;
    background: url('russia-map.png') center/cover no-repeat fixed; /* фоновое изображение */
    color: #333;
    overflow-x: hidden;  /* чтобы не было горизонтального прокручивания */
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#corner-image {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 300px;
    z-index: 1000;
}

.container {
    padding-top: 120px; 
}

#gameCanvas {
    border: 2px solid black;
}

.container.position-relative {
    z-index: 0;
}

.btn-primary.position-absolute {
    top: 110px; 
    right: 5px; 
    z-index: 100;
}

.moving-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red; 
    position: fixed;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movePoint1 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 90%; }
    50% { top: 90%; left: 50%; }
    75% { top: 10%; left: 90%; }
    100% { top: 50%; left: 10%; }
}

@keyframes movePoint2 {
    0% { top: 90%; left: 90%; }
    25% { top: 10%; left: 50%; }
    50% { top: 50%; left: 10%; }
    75% { top: 90%; left: 50%; }
    100% { top: 10%; left: 90%; }
}

@keyframes movePoint3 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 30%; }
    50% { top: 80%; left: 50%; }
    75% { top: 30%; left: 80%; }
    100% { top: 10%; left: 10%; }
}

@keyframes movePoint4 {
    0% { top: 80%; left: 10%; }
    25% { top: 50%; left: 40%; }
    50% { top: 20%; left: 70%; }
    75% { top: 80%; left: 90%; }
    100% { top: 80%; left: 10%; }
}

@keyframes movePoint5 {
    0% { top: 90%; left: 90%; }
    25% { top: 10%; left: 50%; }
    50% { top: 50%; left: 10%; }
    75% { top: 90%; left: 50%; }
    100% { top: 10%; left: 90%; }
}

@keyframes movePoint6 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 30%; }
    50% { top: 80%; left: 50%; }
    75% { top: 30%; left: 80%; }
    100% { top: 10%; left: 10%; }
}

@keyframes movePoint7 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 90%; }
    50% { top: 90%; left: 50%; }
    75% { top: 10%; left: 90%; }
    100% { top: 50%; left: 10%; }
}


.moving-point:nth-child(1) {
    animation-name: movePoint1;
}

.moving-point:nth-child(2) {
    animation-name: movePoint2;
}

.moving-point:nth-child(3) {
    animation-name: movePoint3;
}

.moving-point:nth-child(4) {
    animation-name: movePoint4;
}

.moving-point:nth-child(5) {
    animation-name: movePoint5;
}

.moving-point:nth-child(6) {
    animation-name: movePoint6;
}

.moving-point:nth-child(7) {
    animation-name: movePoint7;
}