body {
    background-image: url('russia-map.png');
    background-position: center top; /* Чтобы изображение было сверху и по центру */
    background-repeat: no-repeat;    /* Чтобы изображение не повторялось */
    background-size: cover;          /* Чтобы изображение масштабировалось и заполняло весь экран */
}

.dark-theme .list-group-item, .dark-theme .card, .dark-theme .search-container, .dark-theme .input-group {
    background-color: #2a2a2a;      /* Изменить цвет меню */
    border-color: #444;

}
.dark-theme .list-group-item a, .dark-theme .card-title, .dark-theme .card-text {
        color: #ddd;  /* Измененный цвет текста */
}

.dark-theme .input-group-text, .dark-theme .form-control {
    background-color: #2a2a2a; /* Измененный цвет поиска */
    border-color: #444;
    color: #ccc;
}

.dark-theme .input-group-text {
    border-right-color: #928282 !important;
}

.dark-theme .form-control::placeholder {
    color: #888;
}

.dark-theme .btn-primary {
    background-color: #b8aaaa;
    border-color: #a19a9a;
    color: #ccc;
}

.dark-theme .btn-primary:hover {
    background-color: #bbadad;
    border-color: #c0afaf;
}

.dark-theme {
    background-image: url('russia-map-black.png');
    background-color: rgba(0, 0, 0, 0.7); 
    color: #f8e4e4; /* Цвет текста */
}


h1, h2, h3, h4, h5, h6 {
    color: #414040;
}

body[data-theme="dark"] h1, body[data-theme="dark"] h2, body[data-theme="dark"] h3, 
body[data-theme="dark"] h4, body[data-theme="dark"] h5, body[data-theme="dark"] h6 {
    color: #c7bebe;
}

.dark-theme {
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона */
    color: #ccc; /* Цвет текста */
}

.dark-theme a {
    color: #ccc;
}

.dark-theme .btn-primary {
    background-color: #333;
    border-color: #333;
}

.dark-theme .card {
    background-color: #333;
    border-color: #333;
}

#themeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

body[data-theme="dark"] #themeToggle {
    background-color: #333;
    color: #fff;
    border-color: #555;
}


h1, h2, h3, h4, h5, h6 {
    color: #726868;    /* Цвет основного текста */
}

body[data-theme="dark"] h1, body[data-theme="dark"] h2, body[data-theme="dark"] h3, 
body[data-theme="dark"] h4, body[data-theme="dark"] h5, body[data-theme="dark"] h6 {
    color: #ccc;
}

#themeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

body[data-theme="dark"] #themeToggle {
    background-color: #6e6b6b;
    color: #fff;
    border-color: #8a8585;
}

#corner-image {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 300px;
    z-index: 1000;
}

.container {
    padding-top: 120px; 
}

#gameCanvas {
    border: 2px solid black;
}

.container.position-relative {
    z-index: 0;
}

.btn-primary.position-absolute {
    top: 110px; 
    right: 5px; 
    z-index: 100;
}

.moving-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red; 
    position: fixed;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movePoint1 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 90%; }
    50% { top: 90%; left: 50%; }
    75% { top: 10%; left: 90%; }
    100% { top: 50%; left: 10%; }
}

@keyframes movePoint2 {
    0% { top: 90%; left: 90%; }
    25% { top: 10%; left: 50%; }
    50% { top: 50%; left: 10%; }
    75% { top: 90%; left: 50%; }
    100% { top: 10%; left: 90%; }
}

@keyframes movePoint3 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 30%; }
    50% { top: 80%; left: 50%; }
    75% { top: 30%; left: 80%; }
    100% { top: 10%; left: 10%; }
}

@keyframes movePoint4 {
    0% { top: 80%; left: 10%; }
    25% { top: 50%; left: 40%; }
    50% { top: 20%; left: 70%; }
    75% { top: 80%; left: 90%; }
    100% { top: 80%; left: 10%; }
}

@keyframes movePoint5 {
    0% { top: 90%; left: 90%; }
    25% { top: 10%; left: 50%; }
    50% { top: 50%; left: 10%; }
    75% { top: 90%; left: 50%; }
    100% { top: 10%; left: 90%; }
}

@keyframes movePoint6 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 30%; }
    50% { top: 80%; left: 50%; }
    75% { top: 30%; left: 80%; }
    100% { top: 10%; left: 10%; }
}

@keyframes movePoint7 {
    0% { top: 10%; left: 10%; }
    25% { top: 50%; left: 90%; }
    50% { top: 90%; left: 50%; }
    75% { top: 10%; left: 90%; }
    100% { top: 50%; left: 10%; }
}


.moving-point:nth-child(1) {
    animation-name: movePoint1;
}

.moving-point:nth-child(2) {
    animation-name: movePoint2;
}

.moving-point:nth-child(3) {
    animation-name: movePoint3;
}

.moving-point:nth-child(4) {
    animation-name: movePoint4;
}

.moving-point:nth-child(5) {
    animation-name: movePoint5;
}

.moving-point:nth-child(6) {
    animation-name: movePoint6;
}

.moving-point:nth-child(7) {
    animation-name: movePoint7;
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.btn.go-home {
    margin-top: 10px; 
    margin-bottom: 20px; 
}

body[data-theme="dark"] .btn.go-home {
    background-color: #333;
    color: #fff;
    border-color: #555;
}